<h1>Welcome to Stargazer!</h1>

<div class="container" id="top-page">
    <div class="row">
        <div class="col text-center">
            <% if admin_signed_in? %>
                管理者としてログインしています
            <% else %>
                <% if user_signed_in? %>
                    ゲストとしてログインしています
                <% else %>
                    ゲストとして<%= link_to 'ログイン', user_guest_sign_in_path, method: :post %>する
                <% end %>
            <% end %>
        </div>
    </div>
</div>