<h1>Welcome to Stargazer !</h1>

<div class="container">
    <div class="row">
        <div class="col text-center">
            ゲストログインとして<%= link_to 'ログイン', user_guest_sign_in_path, method: :post %>する
        </div>
    </div>
</div>